@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support:</strong>   <a href="mailto:esat.taha.ibis@gmai.com">esat.taha.ibis@gmail.com</a><br />
</address>