@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h1>Under Construction</h1>
        <p class="lead">This part of the website is still under-construction plase wait for further updates. </p>
    </div>
}
else
{
    <div class="jumbotron">
        <h1>Welcome to Auction List Helper</h1>
        <p class="lead">This site is created to help to keep track of your auction items and calculate profit based on your sold items.</p>
        <p>Before start using this website, please register!</p>
    </div>
}
