@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    Response.Redirect("~/AuctionItems/index");
}
else
{
    <section id="home" name="home"></section>
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <br>
                    <h1>Welcome To <b>Auction List Helper</b></h1>
                    <h3>We're here to help you orgnize your auction items.</h3>
                    <br>
                </div>
            </div>
        </div> <!--/ .container -->
    </div><!--/ #headerwrap -->
}
